h1
{
    color: black;
}

body
{
    background-color: White;
}

#Home
{
        widht: 800px;
        margin:0 auto;
        background-color: white;
        text-align: center;
        align-content: center;
}
#services
{
        widht: 800px;
        margin:0 auto;
        background-color: white;
        text-align: center;
        align-content: center;
}
#log
{
        widht: 800px;
        margin:0 auto;
        background-color: white;
        text-align: left;
        align-content: center;
}
#found
{
        widht: 800px;
        margin:0 auto;
        background-color: white;
        text-align: right;
        align-content: center;
}
#retour3
{
        widht: 800px;
        margin:0 auto;
        background-color: white;
        text-align: left;
        align-content: center;
}